#cogs {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
}

#cogs #close {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 5px;
}

#cogs #close:active {
    background-color: #00000041;
}

#cogs #social i {
    display: flex;
    justify-content: space-around;
    font-size: 72px;
    color: #ccc;
    margin: 5px;
}

#cogs #social div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#cogs #social span {
    color: #311B92;
}


#cogs hr {
    color: #000;
}

#cogs p {
    padding: 5px;
    color: #999;
    font-size: 14px;
}

.help {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 22px;
}